.wrapper {
  display: flex;
  gap: 8px;
}

.link {
  padding: 2px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--prim-color-white);
  border: none;
  cursor: var(--cursor-url), pointer;
  background-color: var(--prim-color-blue);
  border-radius: 10px;
  box-shadow: var(--box-shadow-btn);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
