.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  width: 100%;
  padding: 8px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--prim-color-white);
  border: none;
  cursor: pointer;
  background-color: var(--prim-color-blue);
  border-radius: 10px;
  box-shadow: var(--box-shadow-btn);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #5082f2;
}
