.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.ticketsList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin: 0 auto;
  /* padding: 8px 30px; */
}

.summary {
  display: flex;
  justify-content: space-between;
}

.date {
  display: inline-block;
  /* margin-left: auto; */
  color: var(--prim-color-blue);
}

.emptyArray {
  display: inline-block;
  margin: auto;
  color: var(--prim-color-blue);
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
/* @media screen and (min-width: 1440px) {
  .ticketsList {
    width: 1440px;
  }
} */
